* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}



#pyramid {
    position: absolute;
    left: calc(50% - 212px);
    transform-style: preserve-3d;
    animation: triAnimate 20s infinite normal linear;
}

@keyframes triAnimate {
    0% {
        transform: rotate3d(0.5, 1, 0, -360deg);
    }
}

.face {
    position: absolute;
    transform-style: preserve-3d;

    border-style: solid;
    border-top: 600px solid transparent;
    border-left: 212px solid transparent;
    border-right: 212px solid transparent;
    border-bottom: 600px solid transparent;

        /* transform-origin: ; */
}

.base {
    position: absolute;
    transform-style: preserve-3d;

    height: 424px;
    width: 424px;
    background-color: #01CDFE;

    transform: rotateX(90deg);
    top: 600px;
}

.one {
    transform: rotateX(45deg);
    border-bottom-color:#05FFA1;
}

.two {
    transform: rotateX(-45deg);
    border-bottom-color: #FF71CE;
}

.three {
    transform: rotateY(90deg) rotateX(45deg);
    border-bottom-color: #FFFB96;
}

.four {
    transform: rotateY(90deg) rotateX(-45deg);
    border-bottom-color:#B967FF;
}